{# src/AppBundle/Resources/views/Tournament/tournament.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Tournament</h1>
            </div>
        </div>
    </div>
{% endblock %}
