{# src/AppBundle/Resources/views/Player/players.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Players{% endblock %}

{% block body %}
    <div class="container">

        <h2>Players</h2>

        <div class="list-group">
            {% for player in players %}
                <a class="list-group-item" href="{{ path('player_by_id', {'id': player.id}) }}">
                    <span class="badge">{{ player.rank }}</span>
                    {{ player.name }}
                </a>
            {% endfor %}
        </div>

        <p>Don't see your name? <a class="btn btn-default btn-sm" href="{{ path('add_player') }}">Add Player</a></p>
    </div>
{% endblock %}
